<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <a class="" href="{{html_url}}"><h2>{{name}}</h2></a>
            <h2>{{description}}</h2>
        </div>
        <div class="panel-body">
            <span>{{created_at}}</span>
        </div>
    </div>
</div>