<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Node Homework</a>
        </div>
        <ul class="nav navbar-nav">
            {{#if user}}
            <li class="active"><a href="/logout">Logout</a></li> 
            {{else}}
            <li class="active"><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </div>
</nav>