{{#if user}}
    <h1 class="page-header">Hello {{user.username}}</h1>

    <form action='/search'>
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Search</button>
            </span>
        </div>
    </form>

    <div id="repos-wrapper" data-component="fetcher-wrapper">
        {{> repo }}
    </div>
{{else}}
    <h1 class="page-header">Index page</h1>
{{/if}}
