{{#if user}}
    <form action='/search'>
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Search</button>
            </span>
        </div>
    </form>

    <h3 class="page-header">Search result: <mark><i>{{queryString}}</i></mark></h3>

    <div id="repos-wrapper" data-component="fetcher-wrapper">
        {{> repo }}
    </div>

{{else}}
    <h3 class="page-header">You have no access for search</h3>
{{/if}}
