html {
	position: relative;
    min-height: 100%;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: #909090;
    height: 100%;
    margin: 0 0 100px;
}

.panel {
    background-color: #505050;
    color: #C1C1C1;
    box-shadow: 3px 3px 1px rgba(255, 255, 255, .35);
    a {
        color: white;
        text-decoration: none;
        .glyphicon {
            display: none;
            font-size: 0.75em;
        }
    }
    a:hover {
        .glyphicon {
            display: inline-block;
        }   
    }
}

footer {
	background-color: black;
	color: #909090;
	padding: 20px;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
